<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon",   href="/image/sun.jpg">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div  class="main-content">
            {{>header}}
            <p>This site was created by Nilesh Sarode. It uses weather data from weatherstack.com and google.</p>
            <img class="portrait" src="/image/gru.jpg">
        </div>
        {{>footer}}
    </body>
</html>